<mat-sidenav-container class="example-container">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    [opened]="!mobileQuery.matches">
    <mat-nav-list>
      <a *ngFor="let option of menuPositions$ | async" mat-list-item [routerLink]="option.path">{{option.label}}</a>
      <a *ngIf="$isAuthorized | async" mat-list-item routerLink="/authorize/profile"> Profil </a>
      <a *ngIf="$isAuthorized | async" mat-list-item (click)="onSignOut()"> Wyloguj </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button *ngIf="mobileQuery.matches" mat-icon-button color="primary" (click)="snav.toggle()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="app-logo">
        <a [routerLink]="($isAuthorized | async) ? '/dreams' :'/authorize/sign-in'"></a>
      </div>
    </div>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>