<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel *ngFor="let category of categories$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category.categoryName }}
        </mat-panel-title>
        <mat-panel-description>
          Przypisanych marzeń: {{ category.dreamCount }}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-category-form (saveForm)="submitUpdateCategory()" [category]="category"></app-category-form>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Dodaj nową</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <app-category-form (saveForm)="submitCreateNewCategory()"></app-category-form>
    </mat-expansion-panel>
  </mat-accordion>