<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a *ngIf="!($isAuthorized | async)" mat-list-item routerLink="/authorize/sign-in" routerLinkActive="active"> Zaloguj się </a>
      <a *ngIf="!($isAuthorized | async)" mat-list-item routerLink="/authorize/register"> Rejestracja </a>
      <a *ngIf="$isAuthorized | async" mat-list-item routerLink="/dreams/list"> Marzenia </a>
      <a *ngIf="$isAuthorized | async" mat-list-item routerLink="/users/list"> Użytkownicy </a>
      <a *ngIf="$isAuthorized | async" mat-list-item (click)="onSignOut()"> Wyloguj </a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-logo">
      <a [routerLink]="($isAuthorized | async) ? '/dreams' :'/authorize/sign-in'"></a>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>