@using System;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Alpaki.WebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @for (var i = -3; i < 3; i++)
            {
                var month = DateTime.Now.AddMonths(i);
                <NavLink class="nav-link" href="@($"/time-sheet/{month.Year}/{month.Month}")">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Time Sheet (@month.Year/@month.ToString("MMM"))
                </NavLink>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
