<mat-card class="dream-card">
    <mat-card-header>
        <div 
            mat-card-avatar 
            class="dream-header-image"
            [class.female]="dream.gender === 1"
            [class.male]="dream.gender !== 2"
        ></div>
        <mat-card-title>{{ dream.firstName }} {{ dream.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ dream.age}} lat</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/person_{{ dream.gender === 2 ? 'female': 'male' }}.png">
    <mat-card-content>
        <mat-chip-list>
            <mat-chip selected (click)="remove(dream.dreamId)">Usuń</mat-chip>
        </mat-chip-list>
        <!-- <a [routerLink]="['/dreams/details', dream.dreamId]"></a> -->
    </mat-card-content>
</mat-card>
