<form [formGroup]="form" (ngSubmit)="onFormSubmitted()">
    <mat-card class="content-card">
        <mat-card-title>Przypomnij hasło</mat-card-title>
        <mat-card-content>
            <p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </p>

            <div class="action-buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    Wyślije email do zmiany hasła
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>